/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*----Colors variables----*/

/*-----------------------*/
:root{
  --primary-color: #E5E5E5
  ;
  --secondary-color: #FCA311;
}


*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,body{
  overflow-x: hidden;
}

body{
  margin: 0;
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.header{
  display: flex;
  gap: 30%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

}
.logo a img{
  max-width: 200px;
  height: 60px;
  margin-left: 30px;
  margin-top: 12px;
  border-radius: 50px;
}



.nav-bar ul ,.social-media-icons ul{
  display: flex;
  gap: 90px;
  padding-top: 25px;
 
}

.nav-bar ul li::after{
  content: ' ';
  width: 0%;
  height: 2px;
  background-color: #FCA311;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-bar ul li:hover::after{
  width: 100%;
}


.menu-btn{
  display: none;
}
.nav-bar ul li:first-child{
  margin-right: auto
}

.nav-bar .navLinks{
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: rgba(131, 129, 129, 0.527);
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  z-index: 2;
  align-items: flex-start;
  justify-content: flex-start;  
  backdrop-filter: blur(12px);
}
.navLinks ul li{
  width: 100%;
}


.navLinks i{
  left: 0;
  z-index: 2;
}

.social-media-icons ul{
  gap: 32px;
  z-index: 3;
}

.social-media-icons ul li i{
  color: var(--primary-color);
}



.top-showcase{
  position: relative;
  width: 100%;
  height: 90vh;

}

.top-img{
  width: 170px;
  height: 170px;
  border-radius: 90px;
  transform: rotate(45deg);
  position: absolute;
  left: 130px;
  bottom:  25rem;
  opacity: 0.4;
}
.top{
  display: flex;
  gap: 20rem;
}

.top-right{
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30%;
}



.top-right p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.top-right .first-p{
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  margin-bottom: 0;
}

.top-right h1{
  font-size: 70px;
  
}

.top-right button{
  padding: 10px 34px 10px 34px;
  border-radius: 19px;
  border: none;
  margin-right: 2.5rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  cursor: pointer;
}


.top-right-menu-btn {
  background-color: #FCA311;
}

.top-right-drinks-btn{
  background-color: white;
  color: black;
}



.top-left {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;

}

.top-left img{
  animation: top-left-img;
  animation-timeline: view();
  animation-range: exit;
  opacity: 0.9;
}

@keyframes top-left-img {
  25% {opacity: 1;}
  85%, 100% {opacity: 0;scale: 1.5;}
}

/*---Popular dishes-------*/

/*-----------------------*/

.popular-dishes{
  margin-top: 5rem;
}

.popular-dishes h1{
  margin-bottom: 39px;
  margin-left: 30px;
}

.dishes-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2%;
  margin-bottom: 39px;
  margin-left: 30px;
}



.dish-content{
  background-color: #ffff;
  width: 15rem;
  padding-bottom: 2rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
  position: relative;
  scale: .5;opacity: 0;
  animation: dish-content-animation ease-out ;
  animation-timeline: view();
 
  animation-delay: 2s;
}


@keyframes dish-content-animation {
  to{scale: 1;opacity: 1;}
}
.animate {
  transform: translateY(0);
}



.dish-content:hover{
  
  overflow: hidden;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  
}
.dish-content h3{
  margin-left: 25%;
}
.dish-content i{
  margin: 5px 0 0 5px;
}


/*-------About us ---------*/

/*-----------------------*/

.about-us{
  position: relative;
  margin-top: 20rem;
}

.about-us-img{
  width: 170px;
  height: 170px;
  border-radius: 90px;
  transform: rotate(-45deg);
  position: absolute;
  right: 22rem;
  bottom:  27rem;
  opacity: 0.4;
}

.about-us-div{
  display: flex;
  gap:1rem;
}

.about-us-content1{
  
  margin-left: 30px;
}

.about-us-content2{
  
  width: 49%;
  margin-left: 14rem;
  justify-content: center;
}

.about-us-content2 h1{
  font-size: 40px;
  margin-bottom: 2rem;
}

.about-us-content2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-bottom: 3rem;
}

.btn{
  padding: 10px 21px 10px 21px;
  border-radius: 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: #ffff;
  background-color: #000;
  cursor: pointer;
}


/*----------Menu----------*/

/*-----------------------*/

.menu{
  margin-top: 16rem;
}

.menu-list{
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

.menu-list h1{
  margin-left: 30px;
  font-size: 25px;
}

.menu-list ul {
  display: flex;
  gap: 4.5rem;
  margin-top: 5px;
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  color: #686666;
  cursor: pointer;
}

.menu-list ul li::after{
  content: ' ';
  width: 0%;
  height: 2px;
  background-color: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
  
}

.menu-list ul li:hover{
  color: var(--secondary-color);
}
.menu-list ul li:hover::after{
  width: 100%;
}

.dish-content >div{
  margin-top: 1rem;
  display: flex;
  flex: 1;
  gap: 7.5rem;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}


.menu-dish{
  width: 17rem;
}

.menu-dish .first-p{
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.menu-dish .second-p{
  color: var(--secondary-color);
}

/*-----Meaning Taste-----*/

/*-----------------------*/

.meaning-taste{
  position: relative;
  margin-top: 10rem;
  margin-left: 30px;
}

.meaning-taste .taste-img1{
  width: 170px;
  height: 170px;
  border-radius: 90px;
  transform: rotate(80deg);
  position: absolute;
  left: 50px;
  top: -14rem;
  opacity: 0.4;
}

.meaning-taste-content{
  display: flex;
  gap: 3rem;
  margin-top: 24rem;
  font-family: 'Roboto',sans-serif;
  font-size: 30px;
}


.meaning-taste-content h1{
  font-size: 45px;
  margin-bottom: 2rem;
}

.meaning-taste-content button{
  margin-top: 3rem;
  font-size: 25px;
  border-radius: 25px;
  padding: 10px 30px 10px 30px;
}

.meaning-taste-content1{
  width: 65%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.taste-img3{
  width: 170px;
  height: 170px;
  border-radius: 90px;
  position: absolute;
  right: 15rem;
  bottom: -15rem;
  opacity: 0.4;
}

.taste-img4{
  width: 210px;
  height: 210px;
  border-radius: 100px;
  transform: rotate(30deg);
  position: absolute;
  left: 0;
  bottom: -15rem;
  opacity: 0.4;
}


/*----Costumers------*/
.costumers{
  background-image: url('/images/costumers-say.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 15rem;
  position: relative;
}

.costumers h1{
  margin-left: 35%;
  font-size: 35px;
  position: absolute;
  top: 12rem;
}
.costumers-content{
  display: flex;
  gap: 15rem;
  justify-content: center;
  
}

.costumer-1{

  padding: 40px;
  
  background-color: #ffff;
  border-radius: 18px;
  margin-top: 25%;
  font-family: 'Roboto',sans-serif;
  font-size: 19px;
  justify-content: center;
}

.costumer-1 .face img{
   margin-top: -40px;
   margin-left: 45%;
}

#icons{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.costumer-1 #icons i{
  padding: 9px;
}

.costumer-1 p{
  margin-left:1rem;
}

/*------Footer-----*/
footer{
  width: 100%;
  margin-top: 7rem;
  background-color: black;
  color: var(--primary-color);
}

.footer{
  display: flex;
  margin-left: 30px;
  gap: 8%;
}

.footer ul li{
  padding: 5px;
}

.footer-head{
  margin-bottom:19px ;
  margin-top: 10px;
}
.footer-logo{
  max-width: 200px;
  height: 60px;
  border-radius: 50px;
}

.copyright-text{
  margin-top: 2rem;
  margin-left: 35%;
}

.footer a{
  color: var(--primary-color);
}
/*-------------------------------------*/

.show{
  display: block !important;
}

#menu-1-content,#menu-2-content,#menu-3-content,#menu-4-content,#menu-5-content,#menu-6-content,#menu-7-content,#menu-8-content{
  display: none;
}
/*Icons*/
.icons{
  color: var(--secondary-color);
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul li {
  text-decoration: none;
  list-style: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.menu-fa {
  color: #FCA311;
  z-index: 2;
}

h1{
  font-family: 'Righteous', sans-serif;
}

button:hover{
  opacity: 0.7;
}
/*--Media querry----*/
@media (max-width:800px){

  /*---header---*/
  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
   
  }

.social-media-icons{
  position: relative;
  z-index: 1;
}
.social-media-icons ul{
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  position: absolute;
  left: 4rem;
  top: 0rem;
}




/*-----------------------*/
  .top-left {
  
   height: 48%;
  }
  
 
  .top-img{
    /*display: none;*/
    width: 70px;
    height: 70px;
  }

  .top{
    display: flex;
    flex-direction: row;

    
  }

  .top-right{
    position: absolute;
    top: 50%;
    left: 30px;
    height: 50%;
    width: 98%;
  }
  
  .first-p{
    font-size: 30px;
  }
  
  .top-right p{
    font-size: 18px;
  }
  
  .top-right h1{
    font-size: 55px;
  }
  
  /*------Popular dishes-----*/

  .dishes-container{
    
    grid-template-columns: repeat(2,1fr);
  }

  /*----About Us----*/

  .about-us-div{
    display: flex;
    flex-direction: column;
  }
  .about-us-img{
    width: 130px;
    height: 130px;
    right: 5rem;
    bottom:  0rem;  
  }

  /*------Menu----------*/

  .menu-list ul {
    display: flex;
    gap: 1rem;
    font-size: 18px;
  }

  .menu-list{
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  /*---Meaning taste----*/

  .meaning-taste-content{
    flex-direction: column;
  }

  .taste-img2{
    width: 70%;
  }

  .taste-img3{
    width: 100px;
    height: 100px;
    right: 10rem;
    
  }
  
  .taste-img4{
    width: 100px;
    height: 100px;
  }

  /*----Costumers----*/

  .costumer-1{
    padding: 20px;
    margin-top: 40%;
  }

  .costumers h1{
    margin-left: 28%;
    font-size: 30px;
    top: 15rem;
  }
  
  
  .costumer-1 .face img{
     margin-left: 30%;
  }
}


@media (max-width:600px){

  .social-media-icons ul{    
    left: 4rem;
  }

  .menu-list ul {
    font-size: 8px;
  }

  .menu-list{
    gap: 1rem;
  }
  
  .menu .menu-list h1{
    font-size: 10px;
  }

  .dish-content >div{
    gap: 1rem;
  }

  .menu-dish{
    width: 12rem;
  }

  .dish-content{
    width: 12rem;
  }

  .about-us .about-us-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transform: rotate(-45deg);
    position: absolute;
    right: 22rem;
    bottom:  27rem;
    opacity: 0.4;
  }
  
  .about-us-content1 img{
    width: 180px;
  }

  .top-right img {
    display: none;
  }

  
  .costumers h1{
    margin-left: 30%;
    font-size: 20px;
    top: 5rem;
  }
  .costumers-content{
    display: flex;
    flex-direction: column;
    
  }
  
  .costumer-1{
  
    padding: 8px;
    border-radius: 18px;
    margin-top: 35%;
    font-size: 19px;
  }
  
  .costumer-2{
    margin-top: 0;
  }
 
}


 

 @media (max-width:460px){
  .social-media-icons ul{    
    right: 50%;
  }
  
  .social-media-icons ul li{    
    padding: 0px;
  }

  .logo a img{
    max-width: 140px;
    height: 40px;
    margin-left: 10px;
  }

  .top{
    display: flex;
    gap: 20rem;
    margin-left: 0;
  }
  
  .top-right{
    left: 10px;
    width: 100%;
  }
  
  
  
  .top-right p{
    font-size: 18px;
  }
  
  .top-right .first-p{
    font-size: 25px;
  }
  
  .top-right h1{
    font-size: 50px;
    
  }

  .popular-dishes{
    margin-top: 5rem;
  }
  
  .popular-dishes h1{
    margin-bottom: 39px;
    margin-left: 10px;
  }
  
  .dishes-container{
    gap: 2%;
    margin-left: 30px;
  }

  .dish-content{
    width: 9rem;
  }
 
  .about-us{
    margin-top: 18rem;
  }
  
  .about-us-img{
    width: 130px;
    height: 130px;
    border-radius: 90px;
    transform: rotate(-45deg);
    position: absolute;
    right: 30rem;
    bottom:  30rem;
    opacity: 0.4;
  }
  
  
  .about-us-content1{
    
    margin-left: 10px;
  }
  
  .about-us-content2{
    width: 100%;
    margin-left: 10px;
  }
  
  .about-us-content2 p{
    font-size: 18px;
    margin-bottom: 2rem;
  }
  
  .menu{
    margin-top: 10rem;
  }
  
  .menu-list h1{
    margin-left: 10px;
    font-size: 10px;
  }
  
  .menu-list ul {
    gap: 0.5rem;
    font-size: 10px;
  }

  .costumers{
    background-image: url('/images/costumers-say.png');
  }
  .costumers h1{
    margin-left: 14%;
    font-size: 17px;
    top: 5rem;
  }
  .costumers-content{
    display: flex;
    flex-direction: column;
    
  }
  
  .costumer-1{
  
    padding: 8px;
    border-radius: 18px;
    margin-top: 50%;
    font-size: 15px;
  }
  
  .costumer-2{
    margin-top: 0;
  }

  .footer{
    display: flex;
    margin-left: 0px;
    gap: 6%;
    font-size: 10px;
  }

  .copyright-text{
    margin-top: 2rem;
    margin-left: 15%;
    font-size: 10px;
  }
}
}
